<div class="container mt-4">
  <h2 class="text-center">Agregar nuevo restaurante</h2>
  <form class="mt-2" (ngSubmit)="addRestaurant()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newRestaurant.name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea class="form-control" id="description" [(ngModel)]="newRestaurant.description" name="description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="newRestaurant.address" name="address" required>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">URL de la imagen</label>
      <input type="url" class="form-control" id="image" [(ngModel)]="newRestaurant.image" name="image" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>